@page
@using AISA.WebApp.Pages;

@model IndexModel
@{
    ViewData["Title"] = "Startsite";
}

<div class="text-center">
    <h1 class="display-4">Welcome to A.I.S.A.!</h1>
    <p>This page is still under construction.</p>
</div>
